 **Million Songs Dataset - Music Recommendation System**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
count_df = pd.read_csv('/content/drive/MyDrive/Million Songs Dataset/count_data.csv')

In [4]:
song_df = pd.read_csv('/content/drive/MyDrive/Million Songs Dataset/song_data.csv')

In [5]:
count_df.head()

,Unnamed: 0,user_id,song_id,play_count
0,0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1
1,1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2
2,2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1
3,3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1
4,4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1

In [6]:
song_df.head()

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0

In [7]:
count_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   user_id     object
 2   song_id     object
 3   play_count  int64
dtypes: int64(2), object(2)
memory usage: 61.0+ MB

In [8]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   song_id      1000000 non-null  object
 1   title        999985 non-null   object
 2   release      999995 non-null   object
 3   artist_name  1000000 non-null  object
 4   year         1000000 non-null  int64
dtypes: int64(1), object(4)
memory usage: 38.1+ MB

In [9]:
song_df.isna().sum()

song_id         0
title          15
release         5
artist_name     0
year            0
dtype: int64

In [10]:
song_df['title'].fillna('Unknown', inplace = True)
song_df['release'].fillna('Unknown', inplace = True)
song_df.isnull().sum()

song_id        0
title          0
release        0
artist_name    0
year           0
dtype: int64

In [11]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   song_id      1000000 non-null  object
 1   title        1000000 non-null  object
 2   release      1000000 non-null  object
 3   artist_name  1000000 non-null  object
 4   year         1000000 non-null  int64
dtypes: int64(1), object(4)
memory usage: 38.1+ MB

In [12]:
len(count_df)

2000000

In [13]:
len(song_df)

1000000

In [14]:
#merging datasets and droping duplicates
song_merge = pd.merge(count_df, song_df.drop_duplicates(['song_id']), how = 'left')
#droping column 'Unnamed: 0'
song_merge = song_merge.drop(['Unnamed: 0'], axis =1)
song_merge.head()

,user_id,song_id,play_count,title,release,artist_name,year
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Graduation,Kanye West,2007
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,In Between Dreams,Jack Johnson,2005
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999

In [15]:
#checking the length of the merged dataset
len(song_merge)

2000000

In [16]:
#adding a new column merging song title and artist
song_merge['Title - Artist'] = song_merge['title'] + ' - ' + song_merge['artist_name']
song_merge.head()

,user_id,song_id,play_count,title,release,artist_name,year,Title - Artist
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Thicker Than Water,Jack Johnson,0,The Cove - Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Flamenco Para Niños,Paco De Lucia,1976,Entre Dos Aguas - Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Graduation,Kanye West,2007,Stronger - Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,In Between Dreams,Jack Johnson,2005,Constellations - Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,There Is Nothing Left To Lose,Foo Fighters,1999,Learn To Fly - Foo Fighters

In [17]:
#using content-based filtering and collaborative filtering in building a model
class item_similarity_recommender():

  def __init__ (self):
    self.train_data = None
    self.user_id = None
    self.item_id = None
    self.cooccurence_matrix = None
    self.songs_dict = None
    self.rev_songs_dict = None
    self.item_similarity_recommendations = None

#create the item similarity based recommender system model
  def create(self, train_data, user_id, item_id):
    self.train_data = train_data
    self.user_id = user_id
    self.item_id = item_id

#get unique items(songs) from a given user
  def get_user_items(self, user):
    user_data = self.train_data[self.train_data[self.user_id] == user]
    user_items = list(user_data[self.item_id].unique())

    return user_items

#get unique users from a given item(songs)
  def get_item_users(self, item):
    item_data = self.train_data[self.train_data[self.item_id] == item]
    item_users = set(item_data[self.user_id].unique())

    return item_users

#get unique items(songs) in the training data
  def get_all_items_train_data(self):
    all_items = list(self.train_data[self.item_id].unique())

    return all_items

#construct co occurence matrix
  def construct_cooccurence_matrix(self, user_songs, all_songs):
    user_songs_users = []
    for i in range(0, len(user_songs)):
      user_songs_users.append(self.get_item_users(user_songs[i]))

    cooccurence_matrix = np.matrix(np.zeros(shape = (len(user_songs), len(all_songs))), float)

    for i in range(0, len(all_songs)):

      songs_i_data = self.train_data[self.train_data[self.item_id] == all_songs[i]]
      users_i = set(songs_i_data[self.user_id].unique())

      for j in range(0,len(user_songs)):
        users_j = user_songs_users[j]

        users_intersection = users_i.intersection(users_j)

        if len(users_intersection) != 0:
          users_union = users_i.union(users_j)

          cooccurence_matrix[j,i] = float(len(users_intersection))/float(len(users_union))

        else:
          cooccurence_matrix[j,i] = 0

    return cooccurence_matrix

#use the co occurence matrix to make top recommendations
  def generate_top_recomendations(self, user, cooccurence_matrix, all_songs, user_songs):

      user_sim_scores = cooccurence_matrix.sum(axis=0)/float(cooccurence_matrix.shape[0])
      user_sim_scores = np.array(user_sim_scores)[0].tolist()

      sort_index = sorted(((e,i) for i, e in enumerate(list(user_sim_scores))), reverse = True)

      columns = ['user_id', 'song', 'score', 'rank']
      df = pd.DataFrame(columns = columns)
      
      rank = 1
      for i in range(0, len(sort_index)):
        if ~np.isnan(sort_index[i][0]) and all_songs[sort_index[i][1]] not in user_songs and rank <= 10:
          df.loc[len(df)] = [user, all_songs[sort_index[i][1]], sort_index[i][0], rank]
          rank = rank+1

      if df.shape[0] == 0:
        print('The current user has no songs for training the item similarity based recommendation model.')
        return -1
      else:
        return df

  def recommend(self, user):

      user_songs = self.get_user_items(user)
      print('no. of unique songs for the user: %d'% len(user_songs))

      all_songs = self.get_all_items_train_data()

      print('no. of unique songs in the training set: %d'% len(all_songs))

      cooccurence_matrix = self.construct_cooccurence_matrix(user_songs, all_songs)

      df_recommendations = self.generate_top_recomendations(user, cooccurence_matrix, all_songs, user_songs)

      return df_recommendations

In [18]:
#using 20k samples for quick results
song_merge = song_merge.head(20000)

In [19]:
ir = item_similarity_recommender()
ir.create(song_merge, 'user_id', 'Title - Artist')

In [20]:
user_items = ir.get_user_items(song_merge['user_id'][50])

for user_item in user_items:
  print(user_item)

Sun Hands - Local Natives
Camera Talk - Local Natives
Belle - Jack Johnson
Auto Rock - Mogwai
Who Knows Who Cares - Local Natives
Girlfriend - Phoenix
Armistice - Phoenix
Swimming In The Flood - Passion Pit

In [21]:
ir.recommend(song_merge['user_id'][50])

no. of unique songs for the user: 8
no. of unique songs in the training set: 7242

,user_id,song,score,rank
0,bd4c6e843f00bd476847fb75c47b4fb430a06856,Rome - Phoenix,0.085714,1
1,bd4c6e843f00bd476847fb75c47b4fb430a06856,Angeles - Elliott Smith,0.077083,2
2,bd4c6e843f00bd476847fb75c47b4fb430a06856,Fences - Phoenix,0.076705,3
3,bd4c6e843f00bd476847fb75c47b4fb430a06856,Lasso - Phoenix,0.070804,4
4,bd4c6e843f00bd476847fb75c47b4fb430a06856,I've Got Your Number - Passion Pit,0.069940,5
5,bd4c6e843f00bd476847fb75c47b4fb430a06856,Guaranteed - Eddie Vedder,0.063447,6
6,bd4c6e843f00bd476847fb75c47b4fb430a06856,Kill The Director [Radio Edit] - The Wombats,0.062500,7
7,bd4c6e843f00bd476847fb75c47b4fb430a06856,Kelma - Rachid Taha,0.062500,8
8,bd4c6e843f00bd476847fb75c47b4fb430a06856,Wake Up - Fergie,0.062500,9
9,bd4c6e843f00bd476847fb75c47b4fb430a06856,Hip To Be Square - Huey Lewis And The News,0.062500,10

In [22]:
#Trying another user's recently played songs
user_items = ir.get_user_items(song_merge['user_id'][80])

for user_item in user_items:
  print(user_item)

Somebody To Love - Justin Bieber
Ghosts 'n' Stuff (Original Instrumental Mix) - Deadmau5
My Dad's Gone Crazy - Eminem / Hailie Jade
Missing You - John Waite
Ya Nada Queda - Kudai
The Real Slim Shady - Eminem
Forgive Me - Leona Lewis
Say My Name - Destiny's Child
Just Lose It - Eminem
16 Candles - The Crests
Without Me - Eminem
Push It - Salt-N-Pepa
Speechless - Lady GaGa

In [23]:
#Applying the model if it has similarity with the recent played songs
ir.recommend(song_merge['user_id'][80])

no. of unique songs for the user: 13
no. of unique songs in the training set: 7242

,user_id,song,score,rank
0,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Mockingbird - Eminem,0.080274,1
1,4bd88bfb25263a75bbdd467e74018f4ae570e5df,U Smile - Justin Bieber,0.063628,2
2,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Lucky (Album Version) - Jason Mraz & Colbie Ca...,0.063362,3
3,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Superman - Eminem / Dina Rae,0.062585,4
4,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Heartbreak Warfare - John Mayer,0.061165,5
5,4bd88bfb25263a75bbdd467e74018f4ae570e5df,One Time - Justin Bieber,0.060662,6
6,4bd88bfb25263a75bbdd467e74018f4ae570e5df,If I Had You - Adam Lambert,0.059476,7
7,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Bleed It Out [Live At Milton Keynes] - Linkin ...,0.056942,8
8,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Drop The World - Lil Wayne / Eminem,0.055953,9
9,4bd88bfb25263a75bbdd467e74018f4ae570e5df,Pursuit Of Happiness (nightmare) - Kid Cudi / ...,0.054914,10

In [24]:
#Trying another user's recently played songs
user_items = ir.get_user_items(song_merge['user_id'][200])

for user_item in user_items:
  print(user_item)

Aunt Eggma Blowtorch - Neutral Milk Hotel
Full Circle - Miley Cyrus
Poor Jackie - Man Man
Hot N Cold (Manhattan Clique Remix Radio Edit) - Katy Perry
Daisy And Prudence - Erin McKeown
Everythings Just Wonderful - Lily Allen
The Ballad of Michael Valentine - The Killers
I Stand Corrected (Album) - Vampire Weekend
They Might Follow You - Tiny Vipers
Monkey Man - Amy Winehouse
Bleeding Hearts - Soltero
Knee Deep At The National Pop League - Camera Obscura
Dreamlover - Mariah Carey
Wet Blanket - Metric
Guyamas Sonora - Beirut
Suspended From Class - Camera Obscura
Empty Skies - Kosheen
Fast As I Can - Erin McKeown
Just The Way You Are - Barry White
Sleeping In (Album) - Postal Service
Gimme Sympathy - Metric
You Mustn't Kick It Around - Erin McKeown
Help I'm Alive - Metric
Teenager - Camera Obscura
Last Night A DJ Saved My Life - Mariah Carey Featuring Busta Rhymes_ Fabulous And  DJ Clue
Stadium Love - Metric
Spare-Ohs - Andrew Bird
Interstate 8 - Modest Mouse
All The Things That Go To Make Heaven And Earth - The New Pornographers
Satellite Mind - Metric
Daddy's Eyes - The Killers
Señorita - Justin Timberlake
Camaro - Kings Of Leon
Behave - Frightened Rabbit
The Lighthouse - Interpol
Stop Coming To My House - Mogwai
Tron - Foals
Say Hello To The Angels - Interpol
Love And War (11/11/46) (Album Version) - Rilo Kiley
Twilight Galaxy - Metric
Money Straight (Explicit Album Version) - Plies
Elephant Gun - Beirut
Annihilation By The Hands Of God (Album Version) - Roadrunner United
Catch You Baby (Steve Pitron & Max Sanna Radio Edit) - Lonnie Gordon
Why Worry - The All-American Rejects
If It's Lovin' That You Want - Rihanna
Three Peaches - Neutral Milk Hotel
It's Only Divine Right - The New Pornographers
Bling (Confession Of A King) - The Killers
The Hazards Of Love 4 (The Drowned) - The Decemberists
You're A Cad - the bird and the bee
The Penalty - Beirut
I'm A Cuckoo - Belle & Sebastian
Baby - the bird and the bee
Ice Dogs - Man Man
What's In The Middle - the bird and the bee
Poster Of A Girl - Metric
Head Rolls Off - Frightened Rabbit
The Greys - Frightened Rabbit
Innocent When You Dream (78) - Tom Waits
What Is It About Men - Amy Winehouse
The Fake Headlines - The New Pornographers
Red Socks Pugie - Foals
Black Wave (Album) - The Shins
Against The Peruvian Monster - Man Man
Missing - Everything But The Girl
Goodnight Bad Morning - The Kills
Collect Call - Metric
Postcards From Italy - Beirut
Easy Eats Or Dirty Doctor Galapagos - Man Man
Year 3000 - Jonas Brothers
Where The White Boys Dance - The Killers
The King Of Carrot Flowers Parts Two And Three - Neutral Milk Hotel
The Bachelor and the Bride - The Decemberists
Sons & Daughters - The Decemberists
Caring Is Creepy - The Shins
Rhode Island Is Famous For You - Erin McKeown
Natural Disaster - Andrew Bird
Pen And Notebook - Camera Obscura
The Twist - Metric
Promise Me - Beverley Craven
The Gymnast_ High Above the Ground - The Decemberists
Pushin' Me Away - Jonas Brothers
Breakout - Miley Cyrus
Nantes - Beirut
I CAN'T GET STARTED - Ron Carter
Gold Guns Girls - Metric
Front Row - Metric
Set You Free - Frightened Rabbit
Oh! - Sleater-kinney
Love Letter To Japan - the bird and the bee
The Wizard - Bat For Lashes
Too Little Too Late - Metric
Transmission - Joy Division
Balloons (Single version) - Foals
Live from Heart - Sa Trincha
Capturing Moods - Rilo Kiley
The Police And The Private - Metric
The World's Greatest - R. Kelly
Kabul Shit - Lily Allen
Daniel Cowman - Regina Spektor
Snake - Frightened Rabbit
My Wife_ Lost in the World - Beirut

In [25]:
#Applying the model if it has similarity with the recent played songs
ir.recommend(song_merge['user_id'][200])

no. of unique songs for the user: 103
no. of unique songs in the training set: 7242

,user_id,song,score,rank
0,17aa9f6dbdf753831da8f38c71b66b64373de613,The Flowers (Album Version) - Regina Spektor,0.087480,1
1,17aa9f6dbdf753831da8f38c71b66b64373de613,Rabbit Habits - Man Man,0.079006,2
2,17aa9f6dbdf753831da8f38c71b66b64373de613,Michael - Soltero,0.075866,3
3,17aa9f6dbdf753831da8f38c71b66b64373de613,Van Helsing Boombox - Man Man,0.074911,4
4,17aa9f6dbdf753831da8f38c71b66b64373de613,Coda - Chris Bathgate,0.073183,5
5,17aa9f6dbdf753831da8f38c71b66b64373de613,Last Day Of Magic - The Kills,0.072331,6
6,17aa9f6dbdf753831da8f38c71b66b64373de613,Prenzlauerberg - Beirut,0.072241,7
7,17aa9f6dbdf753831da8f38c71b66b64373de613,Mister Jung Stuffed - Man Man,0.072241,8
8,17aa9f6dbdf753831da8f38c71b66b64373de613,We Will Become Silhouettes (Album) - Postal Se...,0.071816,9
9,17aa9f6dbdf753831da8f38c71b66b64373de613,The Sun On His Back - Camera Obscura,0.070738,10